<% if user_signed_in? %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @photo.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @photo.date %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src=<%= @photo.image.to_s %>>
      <!-- put comments form here -->
  </p>

  <%= link_to 'Edit', edit_photo_path(@photo) %>
<% else %>
  <a href="<%= new_user_session_path %>">sign in to upload a photo</a>
<% end %>