<% if user_signed_in? %>
  <%= form_for(@timeline) do |f| %>
    <% if @timeline.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

        <ul>
        <% @timeline.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %><br><br>
    </div>
    <div class="actions">
      <%= f.submit "Create Timeline", :class => "btn btn-success" %>
    </div>
  <% end %>

<% else %>
  <center><a href="<%= new_user_session_path %>">sign in to create a timeline</a></center>
<% end %>
