<% if user_signed_in? %>
  <h1><%= current_user.username %></h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @timelines.each do |timeline| %>
        <tr>
          <td><%= timeline.title %></td>
          <td><%= link_to 'Show', timeline %></td>
          <td><%= link_to 'Edit', edit_timeline_path(timeline) %></td>
          <td><%= link_to 'Upload a photo', new_photo_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Timeline', new_timeline_path %>
<% else %>
  <p>
    Please sign in!
  </p>
<% end %>