<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @timeline.title %>
</p>

<!-- <p>
  <strong>User:</strong>
  <%= @timeline.user_id %>
</p> -->
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_timeline_path(@timeline) %>
<% else %>
  <a href="<%= new_user_session_path %>">sign in to edit your timeline</a>
<% end %>

